.credit {
  text-align: center;
  padding: 1.5rem;
  margin-top: 1.5rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: $dark-3;
  border-top: 0.1rem solid $black-shadow-1;

  span {
    color: $pink;
  }
}
