nav.navigation {
  white-space: nowrap;
  transition: height 0.5s;

  a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: $dark-6;

    &:hover {
      color: $pink;
    }
  }

  @media screen and (max-width: $phone-xl) {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: #eee;
    border-top: 0.1rem solid $black-shadow-1;

    a {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s;
    }

    &.active {
      height: 100vh;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1.5rem;
        padding: 1.5rem;
        opacity: 1;
        visibility: visible;
        background: white;
        border: 0.1rem solid $black-shadow-1;
      }
    }
  }
}
