header {
  @include position(fixed, 0, 0, "", 0);
  @include display(space-between, center);
  padding: 2rem 9%;
  background: white;
  z-index: $z-important;
  box-shadow: $basic-shadow;

  @import "./burger";
  @import "./logo";
  @import "./links";
  @import "./icons";
}
