.content {
  max-width: 50rem;

  h3 {
    color: $dark-1;
    font-size: 6rem;
  }

  span {
    color: $pink;
    padding: 1rem 0;
    font-size: 3.5rem;
    line-height: 1.5;
  }

  p {
    color: $grey-2;
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 1.5;
  }
}
