section.heroes {
  @include display("", center);
  min-height: 100vh;
  background: url(../../../../../public/assets/img/home/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;

  @import "./content";
}
