nav.navigation {
  @include position(absolute, 100%, "", "", 0);
  @include size(100%, 0);
  border-top: 0.1rem solid $black-shadow-1;
  background: #eee;

  a {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
  }

  &.active {
    height: 100vh;

    a {
      @include display(center, center);
      margin: 1.5rem;
      padding: 1.5rem;
      border: 0.1rem solid $black-shadow-1;
      background: white;
      opacity: 1;
      visibility: visible;
    }
  }
}
