.icons {
  @include display("", center);
  flex: 1 1 25rem;
  padding: 2rem;
  border: 0.1rem solid $black-shadow-1;
  background: white;

  img {
    height: 5rem;
    margin-right: 2rem;
  }

  .info {
    h3 {
      padding-bottom: 0.5rem;
      color: $dark-1;
      font-size: 1.5rem;
    }

    span {
      color: $dark-2;
      font-size: 1.3rem;
    }
  }
}
