.video-container {
  position: relative;
  flex: 1 1 40rem;

  video {
    @include same-size(100%);
    object-fit: cover;
    box-shadow: $basic-shadow;
    border: 1.5rem solid white;
    border-radius: 0.5rem;
  }

  h3 {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
    padding: 1rem 2rem;
    background: white;
    text-align: center;
    font-size: 3rem;
    mix-blend-mode: screen;
  }
}
