@mixin display($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin display-column() {
  display: flex;
  flex-direction: column;
}

@mixin display-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
