// COLORS
$pink: #e84393;
$light-pink: rgba(255, 51, 153, 0.05);
$dark-3: #333;
$dark-5: #555;
$dark-6: #666;
$dark-9: #999;
$white-e: #eee;

$black-shadow-1: rgba(0, 0, 0, 0.1);

// MEDIAS
$phone: 450px;
$phone-xl: 768px;
$tablet: 1000px;
