// COLORS
$pink: #e84393;
$light-pink: #ff33990d;

$dark-1: #333;
$dark-2: #555;

$grey-1: #666;
$grey-2: #999;
$grey-3: #eee;

$black-shadow-1: #0000001a;

// PROPERTY
$basic-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

// Z-INDEX
$z-important: 1000;

// MEDIAS
$phone: 450px;
$phone-xl: 768px;
$tablet: 1000px;
