@media screen and (max-width: $tablet) {
  html {
    font-size: 55%;
  }

  section {
    padding: 2rem;
  }

  // NAVIGATION
  header {
    padding: 2rem;
  }

  // PRODUCT
  section.product {
    column-gap: 3rem;
  }
}
