.btn {
  display: inline-block;
  margin-right: 1rem;
  padding: 0.9rem 3.5rem;
  outline: none;
  border: none;
  border-radius: 5rem;
  background: $dark-1;
  color: white;
  font-size: 1.7rem;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: $pink;
  }
}

.qty {
  margin-right: 2rem;
  padding: 0.5rem;
  padding-left: 1rem;
  color: $pink;
  border: 0.2rem solid $dark-1;
  font-size: 1.8rem;
  font-weight: bolder;
}
