.discount {
  @include position(absolute, 1rem, 1rem, "", "");
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  background: rgba(255, 51, 153, 0.05);
  color: #e84393;
  font-size: 2rem;
  z-index: 1;
}
.price {
  padding-top: 1rem;
  color: $pink;
  font-weight: bolder;
  font-size: 2.5rem;

  span {
    color: $grey-2;
    font-weight: lighter;
    text-decoration: line-through;
    font-size: 1.5rem;
  }
}
