form {
  @include display-column();
  justify-content: center;
  flex: 1 1 40rem;
  padding: 2rem 2.5rem;
  box-shadow: $basic-shadow;
  border: 0.1rem solid $black-shadow-1;
  border-radius: 0.5rem;
  background: white;

  @import "./inputs";
}
