.inputs {
  width: 100%;
  margin: 0.7rem 0;
  padding: 1rem;
  color: $dark-1;
  border: 0.1rem solid $black-shadow-1;
  border-radius: 0.5rem;
  text-transform: none;
  font-size: 1.7rem;

  &:focus {
    border-color: $pink;
  }
}

textarea {
  height: 15rem;
}
