@media screen and (max-width: $phone-xl) {
  // HOME
  @import "./burger";
  @import "./navigation";
  @import "./heroes";
  @import "./icons";
  @import "./contact";

  // PRODUCT
  section.product {
    flex-direction: column;
    column-gap: 0;
    row-gap: 5rem;

    .infos-content {
      width: 100%;
    }
  }
}
