.card {
  position: relative;
  flex: 1 1 30rem;
  padding: 3rem 2rem;
  box-shadow: $basic-shadow;
  border: 0.1rem solid $black-shadow-1;
  border-radius: 0.5rem;

  @import "./stars";
  @import "./opinion";
  @import "./user";
  @import "./quote";
}
