.card {
  flex: 1 1 30rem;
  @include box-shadow(0.1);
  border-radius: 0.5rem;
  border: 0.1rem solid $black-shadow-1;
  position: relative;

  &:hover {
    .image-box {
      img {
        transform: scale(1.1);
      }
      .icons {
        bottom: 0;
      }
    }
  }

  @import "./discount";
  @import "./image-box";
  @import "./content";
}
