.content {
  padding: 2rem;
  text-align: center;

  h3 {
    font-size: 2.5rem;
    color: $dark-3;
  }

  .price {
    font-size: 2.5rem;
    color: $pink;
    font-weight: bolder;
    padding-top: 1rem;

    span {
      font-size: 1.5rem;
      color: $dark-9;
      font-weight: lighter;
      text-decoration: line-through;
    }
  }
}
