body,
body::before,
body::after,
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem <=> 10px
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;

  @media screen and (max-width: $tablet) {
    font-size: 55%;
  }

  @media screen and (max-width: $phone) {
    font-size: 50%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

textarea {
  resize: none;
}

textarea,
input,
button {
  font-family: inherit;

  &:focus,
  &:focus-visible {
    outline: none;
  }
}

button {
  background: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

p {
  font-size: 1.6rem;
}
