form {
  input {
    margin-right: 2rem;
    padding: 0.5rem;
    color: $pink;
    border: 0.2rem solid $dark-1;
    font-size: 1.8rem;
    font-weight: bolder;
  }

  button {
    margin: 2rem 0;
  }
}
